html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f3f3;
  color: #000;
}

.page-content {
  margin-top: 100px;
}

footer {
  // border-top: 1px solid #e4e4e4;
  margin-top: 50px;

  p {
    color: #000;
  }
}

.form-control {
  background-color: #f3f3f3;
}

.text-black {
  color: #000 !important;
}

.btn-success {
  background: #8e05c2;
  border-radius: 6px;
  border: 0;
}

.btn-success:hover {
  background: #6a0492;
}

.btn-success:active {
  background: #59047a !important;
}

.btn-success:focus {
  background: #8e05c2;
}

.text-hero {
  text-align: left !important;
}

.dark-mode-toogle {
  margin: auto;
}

.text-footer {
  color: #000 !important;
}

.text-footer-dark {
  color: #f3f3f3 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #8e05c2;
  background-color: #8e05c2;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #8e05c2;
}

.custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(106, 4, 146, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(106, 4, 146, 0.25);
}

.custom-switch .custom-control-label::after {
    background-color: #8e05c2;
}

@media (max-width: 991px) {
  .dark-mode-toogle {
    margin: 0 auto 0 0;
  }
}

@media (max-width: 767px) {
  .dex {
    font-size: 12px;
  }
  .text-hero {
    text-align: center !important;
  }
}
